/*****************************/
/* Folhas de Estilos do Site */
/*****************************/

/* Estilos de posicionamento geral. */

* {
    box-sizing: border-box;
    outline: none;
}

/* Estrutura da página */

html,
body {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*
    Define a unidade de medida 'rem' que equivale ao espaço ocupado pela letra 
    'M' na tela.
     → 1rem = 16px, 0.5rem = 8px 
    */
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Fun da página */

body {
    background-color: steelblue;
    background-attachment: fixed;
    background-image: url('/img/bg01.png');
    background-position: center;
    background-repeat: repeat;
}

/* Links em geral */

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

/* Elemento #wrap usado para efeitos práticos */

#wrap {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1080px;
    /* min-width: 300px; */
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin: .5rem .5rem 0 .5rem;
    border-radius: .5rem;
}

header div {
    text-align: center;
}

header img {
    width: 4rem;
    height: 4rem;
    margin: .5rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header small {
    letter-spacing: .16rem;
}

/* Menu principal */

nav {
    background-color: black;
    display: flex;
    justify-content: end;
    border-radius: .5rem;
    margin: .5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: .8rem;
    transition: .2s;
}

nav a:first-child {
    margin-right: auto;
    border-radius: .49rem 0 0 .49rem;
}

nav a:last-child {
    border-radius: 0 .5rem .5rem 0;
}

nav a:hover {
    background-color: white;
    color: black;
}

/* Conteúdo principal */

main {
    background-color: white;
    padding: 1rem;
    margin: 0 .5rem .5rem .5rem;
    border-radius: .5rem;
    flex-grow: 1;
}

/* Rodapé */

footer {
    background-color: black;
    margin: 0 .5rem .5rem .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: orangered;
}

footer i {
    font-size: 1.8rem;
    margin: .5rem;
}

footer>div {
    text-align: center;
    margin: .5rem;
}